/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
    padding-bottom: 30px;
}

.services .icon-box {
    margin-bottom: 20px;
    text-align: center;
}

.services .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 50%;
    transition: 0.5s;
    color: $primary;
    box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.services .icon svg {
    font-size: 36px;
    line-height: 0;
}
.services svg g {
    fill: $primary;
}

.services .icon-box:hover .icon {
    box-shadow: 0px 0 30px rgba(66, 139, 202, 0.5);
}

.services .title {
    color: #444;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
    position: relative;
    padding-bottom: 15px;
}

.services .title::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: $primary;
    bottom: 0;
    left: calc(50% - 25px);
}

.services .description {
    line-height: 24px;
    font-size: 14px;
}