/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: calc(100vh - 110px);
    padding: 0;
    overflow: hidden;
    background: #000;
}

#hero .carousel-item {
    background-image: url("../images/heroImage.jpg");
    width: 100%;
    height: calc(100vh - 110px);
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    overflow: hidden;
    
}

#hero .carousel-item::before {
    content: "";
    background-color: rgba(13, 30, 45, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

#hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

#hero .carousel-content {
    text-align: left;
}

@media (max-width: 992px) {

    #hero,
    #hero .carousel-item {
        height: calc(100vh - 70px);
    }

    #hero .carousel-content.container {
        padding: 0 50px;
    }
}

#hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 900;
}

#hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    color: #fff;
}


@media (max-width: 768px) {
    #hero h2 {
        font-size: 28px;
    }
}

@media (max-height: 500px) {

    #hero,
    #hero .carousel-item {
        height: 120vh;
    }
}

@media (min-width: 1024px) {
    #hero p {
        width: 60%;
    }
}