/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: calc(100vh - 110px);
    padding: 0;
    overflow: hidden;
    background: #000;
    background-image: url("../images/heroImage.jpg");
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
}

#hero .hero-container {
    width: 100%;
    height: calc(100vh - 110px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(13, 30, 45, 0.6);
}

#hero .hero-content {
    text-align: left;
}

@media (max-width: 992px) {

    #hero, #hero .hero-container{
        height: calc(100vh - 70px);
    }
}

#hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 900;
}

#hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    color: #fff;
}


@media (max-width: 768px) {
    #hero h2 {
        font-size: 28px;
    }
}

@media (max-height: 500px) {

    #hero,
    #hero .hero-container {
        height: 120vh;
    }
}

@media (min-width: 1024px) {
    #hero p {
        width: 60%;
    }
}