/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
    background: #f5f9fc;

    .carousel .carousel-inner .carousel-item .carousel-caption {
        position: static !important;
        margin: 1rem 0;
        h3 {
            font-size: large;
            font-weight: bold;
            color: $primary;
        }

        q {
            margin: auto;
            max-width: 750px;
            margin-bottom: 1rem;
            display: inline-block;
        }

    }
}

@include media-breakpoint-down(lg) {
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        display: none;
    }
}