/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
    background: #f5f9fc;

    .carousel .carousel-inner .carousel-item .carousel-caption {
        position: static !important;
        margin: 1rem 0;
        h5 {
            font-size: x-large;
            font-weight: bold;
        }

        p {
            max-width: 750px;
            margin: auto;
        }

        p::before {
            content: '"';
            font-size: 25px;
            font-weight: bolder;
            margin-right: 2px;
        }
    }
}

@include media-breakpoint-down(lg) {

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        display: none;
    }
}